@*@model PagedList.PagedList<WebsiteKinhDoanhCayCanh.Models.ApplicationUser>
    @using PagedList.Mvc;*@
@model IEnumerable<WebsiteKinhDoanhCayCanh.Models.ApplicationUser>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    dt, dd {
        padding: 5px 0;
        width: 60%;
    }

    dt {
        padding-right: 3%;
        width: 40%;
        text-align: right
    }
</style>
<script src="~/Content/assets/js/bootstrap.min.js"></script>
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4" style="margin-bottom: 75px;">
            <div>
                <div>
                    <h2 style="text-align: center; margin-top: 20px; font-weight: bold; color: forestgreen; text-transform: capitalize;">
                        Danh sách khách hàng
                    </h2>
                </div>

                <br />
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Bảng thông tin khách hàng
                </div>
                <br />
                <table id="datatablesSimple" class="table table-bordered table-success">
                    <thead class="thead-dark">
                        <tr>
                            <th class="text-center align-middle">STT</th>
                            <th class="text-center align-middle">
                                Họ tên
                            </th>
                            <th class="text-center align-middle">
                                Địa chỉ
                            </th>
                            <th class="text-center align-middle">
                                Email
                            </th>
                            <th class="text-center align-middle">
                                Số điện thoại
                            </th>
                            <th class="text-center align-middle">
                                Trạng Thái
                            </th>
                            <th class="text-center align-middle">Thao tác</th>
                        </tr>
                    </thead>
                    <tbody class="table-light" style="font-size: medium;">
                        @{ int i = 0;}
                        @foreach (var item in Model)
                        {
                            i++;
                            <tr>
                                <td style="vertical-align:middle;text-align:center"><strong>@i</strong></td>
                                <td style="vertical-align:middle">
                                    @Html.DisplayFor(modelItem => item.FullName)
                                </td>
                                <td style="vertical-align: middle; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; max-width: 30px;" class="col-3">
                                    @Html.DisplayFor(modelItem => item.Address)
                                </td>
                                <td style="vertical-align:middle">
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td style="vertical-align:middle;text-align:center">
                                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                                </td>
                                <td style="vertical-align:middle;text-align:center">
                                    @if (item.LockoutEnabled)
                                    {
                                        <i id="@item.Id" onclick="changeStatus(this.id,@item.LockoutEnabled)" class="fa-regular fa-lock" style="color:red;font-weight:bold;font-size:20px;cursor:pointer"></i> }
                                    else
                                    {

                                        <i id="@item.Id" onclick="changeStatus(this.id,@item.LockoutEnabled)" class="fa fa-regular fa-lock-open" style="color:limegreen;font-weight:bold;cursor:pointer"></i>}

                                </td>

                                <td style="vertical-align:middle; text-align:center">
                                    <a class="btn btn-info" style="cursor:pointer;" data-toggle="modal" data-target="#myModal_@item.Id"> Chi tiết </a>
                                </td>
                                <!-- Modal -->
                                <div class="modal fade" id="myModal_@item.Id" role="dialog">
                                    <div class="modal-dialog" style="max-width:50vw">
                                        <!-- Modal content-->
                                        <div class="modal-content" style="width:50vw">
                                            <div class="modal-header justify-content-center">
                                                <h4 class="modal-title text-center"> <strong style="color: #00be00; font-size: 30px; "> Chi Tiết Tài Khoản</strong></h4>
                                            </div>
                                            <div class="modal-body">
                                                <dl style="display: flex;
                                                    flex-wrap: wrap;
                                                    justify-content: center">
                                                    <dt> Mã KH:</dt>
                                                    <dd> <strong>@item.Id</strong></dd>

                                                    <dt>Họ & tên:</dt>
                                                    <dd> <strong>@item.FullName</strong></dd>

                                                    <dt>Địa chỉ:</dt>
                                                    <dd> <span style="word-wrap:break-word"> <strong>@item.Address</strong></span></dd>

                                                    <dt>Email:</dt>
                                                    <dd>  <strong>@item.Email</strong></dd>

                                                    <dt> SĐT: </dt>
                                                    <dd> <strong>@item.PhoneNumber</strong></dd>
                                                </dl>

                                                @if (item.LockoutEnabled)
                                                {
                                                    <p class="text-center">Trạng thái: <strong style="color:red">Khóa</strong></p>

                                                }
                                                else
                                                {
                                                    <p class="text-center">Trạng thái: <strong style="color:limegreen">Kích hoạt</strong></p>
                                                }
                                                @*<p style="word-break:break-all">@item.phanTramGiamGia</p>*@
                                                <hr />
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-success" data-dismiss="modal">
                                                    Đóng
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</div>

<script>
    function changeStatus(id_User, trangThai) {
        if (trangThai == undefined) {
            Swal.fire({
                title: 'Khóa Tài Khoản?',
                text: "Bạn có chắc chắn muốn khóa tài khoản này??",
                icon: 'warning',
                showCancelButton: true,
                cancelButtonColor: '#3085d6',
                confirmButtonColor: '#d33',
                confirmButtonText: 'Có, hãy khóa tài khoản này!'
            }).then((result) => {
                if (result.isConfirmed) {
                    location.assign("https://localhost:44351/Users/ChangeStatusAccount?id_User=" + id_User)
                }
            })
        }
        else {
            Swal.fire({
                title: 'Mở Khóa Tài Khoản?',
                text: "Bạn có chắc chắn muốn mở khóa tài khoản này??",
                icon: 'warning',
                showCancelButton: true,
                cancelButtonColor: '#3085d6',
                confirmButtonColor: 'rgb(31 187 21)',
                confirmButtonText: 'Có, hãy mở khóa tài khoản này!'
            }).then((result) => {
                if (result.isConfirmed) {
                    location.assign("https://localhost:44351/Users/ChangeStatusAccount?id_User=" + id_User)
                }
            })
        }
    }
</script>