@model PagedList.PagedList<WebsiteKinhDoanhCayCanh.Models.ApplicationUser>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <div>
                <div>
                    <h2 style="text-align: center; margin-top: 20px; font-weight: bold; color: forestgreen; text-transform: capitalize;">
                        Danh sách khách hàng
                    </h2>
                </div>
                <div style="display:flex;justify-content:right;margin:10px">
                    <form>
                        <div class="input-group">
                            <input class="form-control" type="text" placeholder="Tìm kiếm theo email..." aria-label="Tìm kiếm theo email..." value="@ViewBag.Keyword" name="searchString" aria-describedby="btnNavbarSearch" />
                            <button class="btn btn-primary" id="btnNavbarSearch" type="submit"><i class="fas fa-search"></i></button>
                        </div>
                    </form>
                </div>
            </div>
            <table  id="datatablesSimple" class="table table-bordered table-success" >
                <thead class="thead-dark">
                    <tr>
                        <th class="text-center align-middle">STT</th>
                        <th class="text-center align-middle">
                            Họ tên
                        </th>
                        <th class="text-center align-middle">
                            Địa chỉ
                        </th>
                        <th class="text-center align-middle">
                            Email
                        </th>
                        <th class="text-center align-middle">
                            Số điện thoại
                        </th>
                        <th class="text-center align-middle">
                            Trạng Thái
                        </th>
                        <th class="text-center align-middle">Thao tác</th>
                    </tr>
                </thead>
                <tbody class="table-light" style="font-size: medium;">
                    @{ int i = 0;}
                    @foreach (var item in Model)
                    {
                        i++;
                        <tr>
                            <td style="vertical-align:middle;text-align:center"><strong>@i</strong></td>
                            <td style="vertical-align:middle">
                                @Html.DisplayFor(modelItem => item.FullName)
                            </td>
                            <td style="vertical-align:middle">
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                            <td style="vertical-align:middle">
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td style="vertical-align:middle">
                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                            </td>
                            <td style="vertical-align:middle;text-align:center">
                                @if (!item.LockoutEnabled)
                                {
                                    <i id="@item.Id" onclick="changeStatus(this.id,@item.LockoutEnabled)" class="fa fa-regular fa-lock-open" style="color:limegreen;font-weight:bold;cursor:pointer"></i>
                                }
                                else
                                {
                                    <i id="@item.Id" onclick="changeStatus(this.id,@item.LockoutEnabled)" class="fa-regular fa-lock" style="color:red;font-weight:bold;font-size:20px;cursor:pointer"></i>
                                }
                            </td>

                            <td>
                                @Html.ActionLink("Chi tiết", "Details", new { id = item.Id }, new { @class = "btn btn-info", @style = "margin-left:5px" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <div style=" margin-bottom:50px;">
                <div class="MenuTrang" style="display: flex; flex-direction: row; justify-content: center;">
                    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
                </div>
                <div class="MenuTrang" style="display: flex; flex-direction: row; justify-content: center;">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
                </div>
            </div>
        </div>
    </main>
</div>
<script>
    function changeStatus(id_User, trangThai) {
        if (trangThai == undefined) {
            Swal.fire({
                title: 'Khóa Tài Khoản?',
                text: "Bạn có chắc chắn muốn khóa tài khoản này??",
                icon: 'warning',
                showCancelButton: true,
                cancelButtonColor: '#3085d6',
                confirmButtonColor: '#d33',
                confirmButtonText: 'Có, hãy khóa tài khoản này!'
            }).then((result) => {
                if (result.isConfirmed) {
                    location.assign("https://localhost:44351/Users/ChangeStatusAccount?id_User=" + id_User)
                }
            })
        }
        else {
            Swal.fire({
                title: 'Mở Khóa Tài Khoản?',
                text: "Bạn có chắc chắn muốn mở khóa tài khoản này??",
                icon: 'warning',
                showCancelButton: true,
                cancelButtonColor: '#3085d6',
                confirmButtonColor: 'rgb(31 187 21)',
                confirmButtonText: 'Có, hãy mở khóa tài khoản này!'
            }).then((result) => {
                if (result.isConfirmed) {
                    location.assign("https://localhost:44351/Users/ChangeStatusAccount?id_User=" + id_User)
                }
            })
        }
    }
</script>