
@using WebsiteKinhDoanhCayCanh.Models
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin
@{
    ApplicationUser userLogin = System.Web.HttpContext.Current.GetOwinContext().GetUserManager<ApplicationUserManager>().FindById(System.Web.HttpContext.Current.User.Identity.GetUserId());
}
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li class="auth manage dropdown">
                @*@Html.ActionLink(userLogin.FullName, "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })*@
                @*@Html.ActionLink(User.Identity.GetUserName(), "UserDetail", "Users")*@
                @*@Html.ActionLink(userLogin.FullName, "UserDetail", "Users")*@
                <a>@userLogin.FullName</a>
                <div class="dropdown-menu" aria-labelledby="dropdown04">
                    <a class="dropdown-item" href="@Url.Action( "UserDetail", "Users")">Quản lý tài khoản</a>
                    <a class="dropdown-item" href="@Url.Action("XemDonMua", "DonHangs")">Đơn hàng đã mua</a>
                </div>

            </li>

            &emsp;
            <li class="auth logout"><a href="javascript:document.getElementById('logoutForm').submit()"> Đăng Xuất</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="auth login" style="padding-right:10px"> @Html.ActionLink("Đăng Nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        <li class="auth register"> @Html.ActionLink("Đăng Ký", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    </ul>
}
