@*
    @model PagedList.PagedList<WebsiteKinhDoanhCayCanh.Models.CachChamSoc>*@
@model IEnumerable<WebsiteKinhDoanhCayCanh.Models.CachChamSoc>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@Html.Partial("_MessageAlert")
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4" style="margin-bottom: 75px;">
            <div>
                <div>
                    <h2 style="text-align: center; margin-top: 20px; font-weight: bold; color: forestgreen; text-transform: capitalize;">Danh sách cách chăm sóc</h2>
                </div>
                <br />

            </div>
            <a class="btn btn-success" href="@Url.Action("Create", "CachChamSoc")" style="margin:10px 0px;">
                Thêm cách chăm sóc
            </a>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Bảng thông tin cách chăm sóc
                </div>
                <br />
                <table id="datatablesSimple" class="table table-bordered table-success ">
                    <thead class="thead-dark">
                        <tr>
                            <th class="text-center align-middle">STT</th>
                            <th class="text-center align-middle">
                                Mã cách chăm sóc
                            </th>
                            <th>
                                Tên cách chăm sóc
                            </th>
                            <th class="text-center">Thao tác</th>
                        </tr>
                    </thead>
                    <tbody class="table-light">
                        @{ int i = 0;}
                        @foreach (var item in Model)
                        {
                            i++;
                            <tr>
                                <td class="text-center align-middle"><strong>@i</strong></td>
                                <td class="col-lg-2 text-center align-middle">
                                    @Html.DisplayFor(modelItem => item.id_CCS)
                                </td>
                                <td class="col-lg-6 align-middle">
                                    @Html.DisplayFor(modelItem => item.tenCCS)
                                </td>
                                <td class="col-lg-4 text-center align-middle">
                                    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.id_CCS }, new { @class = "btn btn-warning", @style = "margin:5px" })
                                    @Html.ActionLink("Chi tiết", "Details", new { id = item.id_CCS }, new { @class = "btn btn-info", @style = "margin:5px" })
                                    <a style="cursor:pointer;margin:5px" id="@item.id_CCS" class="btn btn-danger" onclick="deleteCCS(this.id)">Xóa</a>
                                </td>
                            </tr>
}
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</div>
<script>
    function deleteCCS(id_CCS) {
        Swal.fire({
            title: 'Delete?',
            text: "Bạn có chắc chắn xóa cách chăm sóc này?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Có, hãy xóa cách chăm sóc này!'
        }).then((result) => {
            if (result.isConfirmed) {
                location.href = "https://localhost:44351/CachChamSoc/Delete/" + id_CCS
            }
        })
    }
</script>



