@model IEnumerable<WebsiteKinhDoanhCayCanh.Models.SanPham>

@using WebsiteKinhDoanhCayCanh.Models
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin
@{
    ViewBag.Title = "Home Page";
    DateTime currentDate = DateTime.Today;
    MyDataEF db = new MyDataEF();
    var currentUser = System.Web.HttpContext.Current.GetOwinContext().GetUserManager<ApplicationUserManager>().FindById(System.Web.HttpContext.Current.User.Identity.GetUserId());
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<style>
    .voucher {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px #32cd32 solid;
        border-radius: 10px;
        width: 340px;
        padding: 5px;
        padding-right: 10px;
        height: 120px;
        margin: 10px;
        background: #12e82433;
        position: relative;
    }

        .voucher a {
            position: absolute;
            bottom: 5px;
            right: 10px;
            font-size: 12px;
        }

    .body_voucher {
        padding: 10px;
        width: 75%;
    }

    .save_voucher {
        display: flex;
        justify-content: center;
        align-items: center;
        border-left: 1px #32cd32 solid;
        width: 25%;
        padding: 5px;
        height: 100%;
    }

        .save_voucher button.save, .save_voucher button.saved {
            cursor: pointer;
            border-radius: 10px;
            padding: 1px 11px;
            border: 0.5px orange solid;
            transition: 0.5s;
        }

            .save_voucher button.save:hover {
                transition: 0.5s;
                background: #fdf59a;
                transform: scale(1.05);
            }

    .content_voucher {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-bottom: 3px
    }

    hr {
        margin: 10px 0;
    }
</style>
<section id="home-section" class="hero">
    <div class="home-slider owl-carousel">
        <div class="slider-item" style="background-image: url(https://finduid.com/wp-content/uploads/2021/05/iu.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

                    <div class="col-md-12 ftco-animate text-center">
                        <p></p>
                        <h1 class="mb-2">Ở đây chúng tôi có cây đẹp</h1>
                        <h2 class="subheading mb-4">Uy tín - Chất lượng - Giá hợp lí</h2>
                        <p><a href="/SanPhams" class="btn btn-primary">Xem thêm</a></p>
                    </div>

                </div>
            </div>
        </div>

        <div class="slider-item" style="background-image: url(https://static1.cafeland.vn/cafelandnew/hinh-anh/2022/01/04/95/cay-trong-hop-trong-nha-nhat-5.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">
                    <div class="col-md-12 ftco-animate text-center">
                        <p></p>
                        <h1 class="mb-2">Ở đây chúng tôi có cây đẹp</h1>
                        <h2 class="subheading mb-4">Uy tín - Chất lượng - Giá hợp lí</h2>
                        <p><a href="/SanPhams" class="btn btn-primary">Xem thêm</a></p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<hr />
<section class="ftco-section">
    <div class="container">
        <div class="row no-gutters ftco-services">
            <div class="col-md-4 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services mb-md-0 mb-4">
                    <a href="/Home/ChinhSachMuaHang">
                        <div class="icon bg-color-1 active d-flex justify-content-center align-items-center mb-2">
                            <span class="flaticon-shipped"></span>
                        </div>
                        <div class="media-body">

                            <h3 class="heading">Miễn phí giao hàng</h3>
                            <span>Giao hàng nhanh chóng</span>

                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-4 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services mb-md-0 mb-4">
                    <a href="/Home/ChinhSachBaoHanh">
                        <div class="icon bg-color-3 d-flex justify-content-center align-items-center mb-2">
                            <span class="flaticon-award"></span>
                        </div>
                        <div class="media-body">
                            <h3 class="heading">Chất lượng cao</h3>
                            <span>Bảo hành cho các sản phẩm</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services mb-md-0 mb-4">
                    <a href="/Home/Contact">
                        <div class="icon bg-color-4 d-flex justify-content-center align-items-center mb-2">
                            <span class="flaticon-customer-service"></span>
                        </div>
                        <div class="media-body">
                            <h3 class="heading">Hỗ trợ tư vấn</h3>
                            <span>24/7 Support</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<hr />

<div class="container">
    <div class="row justify-content-center mb-3 pb-3">
        <div class="col-md-12 heading-section text-center ftco-animate">
            <h2 class="mb-4 subheading" style="font-size:2em">Các Loại Sản Phẩm Bán Chạy</h2>
        </div>
    </div>
</div>

<section class="ftco-section ftco-category ftco-no-pt">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6 order-md-last align-items-stretch d-flex">
                        <div class="category-wrap-2 ftco-animate img align-self-stretch d-flex" style="background-image: url(https://lasc.vn/wp-content/uploads/2020/06/cach-tao-the-cay-canh5.jpg) ">
                            <div class="text text-center">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <a href="/SanPhams?id_Nhom=CTN">
                            <div class="category-wrap ftco-animate img mb-4 d-flex align-items-end" style="background-image: url(https://cdn.chanhtuoi.com/uploads/2021/07/cay-trong-trong-nha-00-1.jpeg) ;">
                                <div class="text px-3 py-1">
                                    <h2 class="mb-0" style="color: #fff">Cây trong nhà</h2>
                                </div>
                            </div>
                        </a>
                        <a href="SanPhams?id_Nhom=CTS">
                            <div class="category-wrap ftco-animate img d-flex align-items-end" style="background-image: url(https://www.hanoi-office.com/uploads/images/trang-tri-bang-cay-thuy-sinh.jpg);">
                                <div class="text px-3 py-1">
                                    <h2 class="mb-0" style="color: #fff">Cây thủy sinh</h2>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <a href="SanPhams?id_Nhom=CDB">
                    <div class="category-wrap ftco-animate img mb-4 d-flex align-items-end" style="background-image: url(https://bancongxanh.com/wp-content/uploads/2022/05/can-mua-cay-de-ban-quan-7-2-1.jpg);">
                        <div class="text px-3 py-1">
                            <h2 class="mb-0" style="color: #fff">Cây để bàn</h2>
                        </div>
                    </div>
                </a>
                <a href="SanPhams?id_Nhom=SENDA">
                    <div class="category-wrap ftco-animate img d-flex align-items-end" style="background-image: url(https://sendakimcuong.com/wp-content/uploads/2021/12/cach-cham-soc-sen-da-khi-moi-mua-ve.jpg);">
                        <div class="text px-3 py-1">
                            <h2 class="mb-0" style="color: #fff">Sen đá</h2>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>



<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-3 pb-3">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <h2 class="mb-4 subheading" style="font-size:2em">Sản Phẩm Đang Giảm Giá</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            @{ foreach (var item in Model)
                {
                    if (item.trangThai == true && item.soLuong > 0)
                    {
                        if (@item.phanTramGiamGia > 0)
                        {
                            <div class="col-md-6 col-lg-3 ftco-animate">
                                <div class="product">
                                    <a href="@Url.Action("Details", "SanPhams", new { id = item.id_SP })" class="img-prod">
                                        <img class="img-fluid" src="@item.HinhAnhSP.Where(p => p.id_SP == item.id_SP).FirstOrDefault().duongDan" alt="Colorlib Template">
                                        @if (@item.phanTramGiamGia > 0)
                                        {
                                            <span class="status">@item.phanTramGiamGia%</span>}
                                        <div class="overlay"></div>
                                    </a>
                                    <div class="text py-3 pb-4 px-3 text-center">
                                        <h3><a href="@Url.Action("Details", "SanPhams", new { id = item.id_SP })">@item.tenSP</a></h3>
                                        @if (@item.phanTramGiamGia > 0)
                                        {
                                            <div class="d-flex">
                                                <div class="pricing">
                                                    <p class="price"><span class="mr-2 price-dc">@String.Format("{0:0,0}", @item.gia)&#8363;</span><span class="price-sale">@String.Format("{0:0,0}", @item.gia - ((float)@item.phanTramGiamGia / 100) * @item.gia)&#8363; </span></p>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="d-flex">
                                                <div class="pricing">
                                                    <p class="price"><span>@String.Format("{0:0,0}", @item.gia)&#8363;</span></p>
                                                </div>
                                            </div>
                                        }
                                        <div class="bottom-area d-flex px-3">
                                            <div class="m-auto d-flex">
                                                <a onclick="AddToCart(this.id,1)" id="@item.id_SP" style="cursor:pointer" class="buy-now d-flex justify-content-center align-items-center mx-1">
                                                    <span><i class="ion-ios-cart"></i></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }
            }
        </div>
        <br /><br />

        <div class="container">
            <div class="row justify-content-center mb-3 pb-3">
                <div class="col-md-12 heading-section text-center ftco-animate">
                    <h2 class="mb-4 subheading" style="font-size:2em">Sản Phẩm Mới</h2>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                @{ foreach (var item in Model)
                    {
                        if (item.trangThai == true && item.soLuong > 0)
                        {
                            <div class="col-md-6 col-lg-3 ftco-animate">
                                <div class="product">
                                    <a href="@Url.Action("Details", "SanPhams", new { id = item.id_SP })" class="img-prod">
                                        <img class="img-fluid" src="@item.HinhAnhSP.Where(p => p.id_SP == item.id_SP).FirstOrDefault().duongDan" alt="Colorlib Template">
                                        @if (@item.phanTramGiamGia > 0)
                                        {
                                            <span class="status">@item.phanTramGiamGia%</span>
                                        }
                                        <div class="overlay"></div>
                                    </a>
                                    <div class="text py-3 pb-4 px-3 text-center">
                                        <h3><a href="@Url.Action("Details", "SanPhams", new { id = item.id_SP })">@item.tenSP</a></h3>
                                        @if (@item.phanTramGiamGia > 0)
                                        {
                                            <div class="d-flex">
                                                <div class="pricing">
                                                    <p class="price"><span class="mr-2 price-dc">@String.Format("{0:0,0}", @item.gia)&#8363;</span><span class="price-sale">@String.Format("{0:0,0}", @item.gia - ((float)@item.phanTramGiamGia / 100) * @item.gia)&#8363; </span></p>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="d-flex">
                                                <div class="pricing">
                                                    <p class="price"><span>@String.Format("{0:0,0}", @item.gia)&#8363;</span></p>
                                                </div>
                                            </div>
                                        }
                                        <div class="bottom-area d-flex px-3">
                                            <div class="m-auto d-flex">
                                                <a onclick="AddToCart(this.id,1)" id="@item.id_SP" style="cursor:pointer" class="buy-now d-flex justify-content-center align-items-center mx-1">
                                                    <span><i class="ion-ios-cart"></i></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }
            </div>
        </div>
    </div>
</section>
<section class="ftco-section" style="padding-top:0">

    <div class="container">
        <div class="row justify-content-center mb-3 pb-3">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <h2 class="mb-4 subheading" style="font-size:2em">Voucher Siêu Hời</h2>

            </div>
        </div>
        <div class="container">
            <div class="row">

                @foreach (var item in Voucher.getAll(""))
                {
                    if (item.thoiGianKetThuc >= currentDate)
                    {

                        <div class="voucher" >
                            <div class="body_voucher">
                                <div><strong style="font-size: 16px">@item.tenVoucher</strong> </div>
                                <hr />
                                <div class="content_voucher">@item.noiDung</div>
                                <div style="font-size:11px" class="content_voucher">Áp dụng từ ngày: <strong> @Convert.ToDateTime(item.thoiGianBatDau).ToString("dd/MM/yyyy") - @Convert.ToDateTime(item.thoiGianKetThuc).ToString("dd/MM/yyyy")</strong></div>
                            </div>
                            @if (currentUser != null && db.UserVoucher.Where(p => p.id_User == currentUser.Id && p.id_voucher == item.id_voucher).FirstOrDefault() != null)
                            {
                                <div class="save_voucher">
                                    <button class="saved" disabled>Đã lưu</button>
                                </div>
                            }
                            else
                            {
                                <div class="save_voucher">
                                    <button class="save" id="@item.id_voucher" onclick="SaveVoucher(this.id)">Lưu</button>
                                </div>
                            }
                            <!-- Trigger the modal with a button -->
                            <a style="cursor:pointer;color:red" data-toggle="modal" data-target="#myModal_@item.id_voucher"> Chi tiết </a>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="myModal_@item.id_voucher" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header justify-content-center">
                                        <h4 class="modal-title text-center"> <strong style="color: #00be00; font-size: 30px; "> @item.tenVoucher</strong></h4>
                                    </div>
                                    <div class="modal-body">
                                        <p style="word-break:break-all">@item.noiDung</p>
                                        <hr />
                                        <div style="font-size:16px" class="content_voucher">Áp dụng từ ngày: <strong> @Convert.ToDateTime(item.thoiGianBatDau).ToString("dd/MM/yyyy") - @Convert.ToDateTime(item.thoiGianKetThuc).ToString("dd/MM/yyyy")</strong></div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">
                                            Đóng
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
            <br />
        </div>
    </div>
</section>

<script>
    function SaveVoucher(id_Voucher) {

        if (window.FormData !== undefined) {

            var formData = new FormData();
            formData.append('id_Voucher', id_Voucher);

            $.ajax(
                {
                    type: 'POST',
                    url: '/Users/SaveVoucher',
                    contentType: false,
                    processData: false,
                    data: formData,
                    success: function (id) {
                        if (id != "Error") {
                            $('#' + id).attr('disabled', '');
                            $('#' + id).removeClass('save').addClass('saved');
                            document.getElementById(id_Voucher).innerHTML = 'Đã lưu'
                            Swal.fire(
                                "Thông báo!",
                                "Lưu voucher thành công!",
                                "success"
                            )
                        } else {
                            location.assign("https://localhost:44351/Account/Login")
                        }

                    },
                    error: function (err) {
                        Swal.fire(
                            "Thông báo!",
                            "Lưu voucher thất bại!",
                            "error"
                        )
                    }
                });
        }
    }

    function AddToCart(id_SP, soLuong) {

        if (window.FormData !== undefined) {

            var formData = new FormData();
            formData.append('id', id_SP);
            formData.append('soLuong', soLuong);

            $.ajax(
                {
                    type: 'POST',
                    url: '/GioHangs/AddToCart',
                    contentType: false,
                    processData: false,
                    data: formData,
                    success: function (message) {
                        if (message != "existed") {
                            document.getElementById('cart').innerHTML = message;
                            Swal.fire(
                                "Thông báo!",
                                "Thêm vào giỏ hàng thành công!",
                                "success"
                            )
                        } else {
                            Swal.fire(
                                "Thông báo!",
                                "Sản phẩm này đã có trong giỏ hàng!",
                                "warning"
                            )
                        } 
                    },
                    error: function (err) {
                        Swal.fire(
                            "Thông báo!",
                            "Có lỗi xảy ra, vui lòng thử lại!",
                            "error"
                        )
                    }
                });
        }
    }
</script>
