@model WebsiteKinhDoanhCayCanh.Models.OtherModels.Product_Details
@using PagedList.Mvc;
@using WebsiteKinhDoanhCayCanh.Models
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    MyDataEF db = new MyDataEF();
}
<div style="font-family: 'Sans-serif'">
    <div class="hero-wrap hero-bread" style="background-image: url('/Template/img/banner-img.jpg');opacity:0.9" ;>
        <div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-center justify-content-center">
                    <div class="col-md-9 ftco-animate text-center bg-text">
                        <h1 class="mb-0 bread" style="color: antiquewhite; font-family: 'cursive', 'Amatic SC','Liberation Mono';">Chi Tiết Sản Phẩm</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="ftco-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-5 ftco-animate">
                    @{
                        int index = 0;
                        <div class="container_product">
                            @foreach (var item in Model.SanPham.HinhAnhSP)
                            {
                                index++;
                                <div class="mySlides_product">
                                    <a href="@item.duongDan" class="image-popup">
                                        <img src="@item.duongDan" style="width: 100%;position:relative" />
                                    </a>
                                    <div class="caption-container_product">
                                        <div id="caption" style="margin:0.5em 0;height:100%;width:100%">
                                            @index/@Model.SanPham.HinhAnhSP.Count()
                                        </div>
                                    </div>
                                    <!--  -->
                                    <a class="prev" onclick="plusSlides(-1)">❮</a>
                                    <a class="next" onclick="plusSlides(1)">❯</a>
                                    <!--  -->
                                </div>
                            }
                        </div>
                        <br />

                        index = 0;
                        <div class="row_product">
                            @foreach (var item in Model.SanPham.HinhAnhSP)
                            {
                                index++;
                                <div class="column_product">
                                    <img class="miniImg cursor"
                                         src="@item.duongDan"
                                         onclick="currentSlide(@index)" />
                                </div>
                            }
                        </div>
                    }

                </div>
                <div class="col-lg-6 product-details pl-md-5 ftco-animate">
                    <h3 style="font-family:  'Lora', Georgia, serif; font-weight:bold">@Model.SanPham.tenSP</h3>
                    <div class="rating d-flex">
                        <p class="text-left mr-4">
                            <a href="#" class="mr-2">5.0</a>
                            <a href="#"><span class="ion-ios-star-outline"></span></a>
                            <a href="#"><span class="ion-ios-star-outline"></span></a>
                            <a href="#"><span class="ion-ios-star-outline"></span></a>
                            <a href="#"><span class="ion-ios-star-outline"></span></a>
                            <a href="#"><span class="ion-ios-star-outline"></span></a>
                        </p>
                        <p class="text-left mr-4">
                            <a href="#" class="mr-2" style="color: #000;">100 <span style="color: #bbb;">Rating</span></a>
                        </p>
                        <p class="text-left">
                            <a href="#" class="mr-2" style="color: #000;">500 <span style="color: #bbb;">Sold</span></a>
                        </p>
                    </div>
                    <span>Còn lại:<strong> @Model.SanPham.soLuong </strong></span>
                    @if (Model.SanPham.phanTramGiamGia == 0)
                    {
                        <p class="price"><span style="display: flex; align-items: center;"><span style="font-size: 20px;padding-right:10px"> Giá:</span> <price style="font-weight:bold;color:red;"> @String.Format("{0:0,0}", @Model.SanPham.gia)&#8363; </price></span></p>

                    }
                    else
                    {
                        <div>
                            <p class="price">
                                <div style="font-size: 20px;"> Giá Gốc: @String.Format("{0:0,0}", Model.SanPham.gia)&#8363; &ensp;(<strong>-@Model.SanPham.phanTramGiamGia%</strong>)</div>
                                <span class="price-sale" style="font-weight:bold;color:red;font-size:22px;font-weight:bold"> Còn:  @String.Format("{0:0,0}", Model.SanPham.gia - ((float)Model.SanPham.phanTramGiamGia / 100) * Model.SanPham.gia)&#8363; </span>
                            </p>

                        </div>
                        @*<p class="price"><span style="display: flex; align-items: center;"> <price style="font-weight:bold;color:red;"> @String.Format("{0:0,0}", @Model.SanPham.gia)&#8363; </price></span></p>*@

                    }
                    <p>
                        <strong>Mô tả:</strong><br />
                        @Model.SanPham.mota
                    </p>

                    @if (Model.SanPham.ThongTinThemVeSP != null)
                    {
                        <div class="custom-table">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>
                                            <strong> Công dụng:</strong> @Model.SanPham.ThongTinThemVeSP.congDung
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong> Cách trồng:</strong> @Model.SanPham.ThongTinThemVeSP.cachTrong
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    }
                    <p>
                        <strong>Cách chăm sóc: <a href="/Home/CachChamSoc"> Xem tại đây</a></strong><br />

                    </p>
                    <div class="row mt-4">
                        <div class="w-100"></div>
                        <div class="input-group col-md-6 d-flex mb-3">
                            <span class="input-group-btn mr-2">
                                <button type="button" class="quantity-left-minus btn" data-type="minus" data-field="">
                                    <i class="ion-ios-remove"></i>
                                </button>
                            </span>

                            <input type="text" id="quantity_product" name="quantity_product" class="form-control input-number" value="1" min="1" max="100" maxlength="4" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1').replace('.','');" />

                            <span class="input-group-btn ml-2">
                                <button type="button" class="quantity-right-plus btn" data-type="plus" data-field="">
                                    <i class="ion-ios-add"></i>
                                </button>
                            </span>
                        </div>
                        <div class="w-100"></div>
                        <br />
                    </div>
                    <p>
                        <a id="URL_SoLuong" href="@Url.Action("ThemGioHang", "GioHangs", new { @id = Model.SanPham.id_SP, @strURL = Request.Url.ToString(), @soLuong = 1 })" class="btn btn-primary py-3 px-4">
                            <span><i class="icon-shopping_cart"> </i> Thêm vào giỏ hàng</span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </section>

    @{
        var lstSP = db.SanPham.Where(p => p.id_Nhom == Model.SanPham.id_Nhom & p.soLuong>0 & p.id_SP != Model.SanPham.id_SP).ToList();
        if (lstSP.Count() > 0)
        {
            <section class="ftco-section">
                <div class="container">
                    <div class="row justify-content-center mb-3 pb-3">
                        <div class="col-md-12 heading-section text-center ftco-animate">
                            <span style="font-size:26px" class="subheading">Sản Phẩm Tương Tự</span>
                            <p>Dưới đây là một số sản phẩm tương tự mà bạn có thể thích!</p>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        @foreach (var item in lstSP)
                        {
                            <div class="col-md-6 col-lg-3 ftco-animate">
                                <div class="product">
                                    <a href="@Url.Action("Details", "SanPhams", new { id = item.id_SP })" class="img-prod">
                                        <img class="img-fluid" src="@item.HinhAnhSP.Where(p => p.id_SP == item.id_SP).FirstOrDefault().duongDan" alt="Colorlib Template">
                                        @if (@item.phanTramGiamGia > 0)
                                        {
                                            <span class="status">@item.phanTramGiamGia%</span>}
                                        <div class="overlay"></div>
                                    </a>
                                    <div class="text py-3 pb-4 px-3 text-center">
                                        <h3><a href="@Url.Action("Details", "SanPhams", new { id = item.id_SP })">@item.tenSP</a></h3>
                                        @if (@item.phanTramGiamGia > 0)
                                        {
                                            <div class="d-flex">
                                                <div class="pricing">

                                                    <p class="price"><span class="mr-2 price-dc">@String.Format("{0:0,0}", @item.gia)&#8363;</span><span class="price-sale">@String.Format("{0:0,0}", @item.gia - ((float)@item.phanTramGiamGia / 100) * @item.gia)&#8363; </span></p>
                                                </div>
                                            </div> }
                                        else
                                        {
                                            <div class="d-flex">
                                                <div class="pricing">
                                                    <p class="price"><span>@String.Format("{0:0,0}", @item.gia)&#8363;</span></p>
                                                </div>
                                            </div>}
                                        <div class="bottom-area d-flex px-3">
                                            <div class="m-auto d-flex">
                                                <a href="@Url.Action("ThemGioHang", "GioHangs", new { @id = item.id_SP, @strURL = Request.Url.ToString(), @soLuong = 1 })" class="buy-now d-flex justify-content-center align-items-center mx-1">
                                                    <span><i class="ion-ios-cart"></i></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </section>
            }
        }

        <script>
        $(document).ready(function () {

            var quantitiy = 0;
            $('.quantity-right-plus').click(function (e) {

                // Stop acting like a button
                e.preventDefault();
                // Get the field name
                var quantity_product = parseInt($('#quantity_product').val());

                if (quantity_product >= @Model.SanPham.soLuong) {
                    Swal.fire(
                        'Thông báo!',
                        'Sản phẩm hiện còn: ' + '@Model.SanPham.soLuong',
                        'warning')
                    $('#quantity_product').val(@Model.SanPham.soLuong);
                }
                else {
                    if (quantity_product >= 100) {
                        Swal.fire(
                            'Thông báo!',
                            'Chỉ được mua tối đa 100 sản phẩm cùng loại!',
                            'warning')
                        $('#quantity_product').val(100);
                    }
                    else {
                        quantity_product++;
                        $('#quantity_product').val(quantity_product);
                        $('#URL_SoLuong').prop('href', '/GioHangs/ThemGioHang/' + '@Model.SanPham.id_SP' + '?strURL=' + location.href + '&soLuong=' + quantity_product)
                    }
                }

                // If is not undefined



                // Increment

            });

           //---------------------------------------------------------------
            $('.quantity-left-minus').click(function (e) {
                // Stop acting like a button
                e.preventDefault();
                // Get the field name
                var quantity_product = parseInt($('#quantity_product').val());

                // If is not undefined

                // Increment
                if (quantity_product > 1) {
                    quantity_product--;
                    $('#quantity_product').val(quantity_product);
                    $('#URL_SoLuong').prop('href', '/GioHangs/ThemGioHang/' + '@Model.SanPham.id_SP' + '?strURL=' + location.href + '&soLuong=' + quantity_product)
                }
                else {
                    $('#URL_SoLuong').prop('href', '/GioHangs/ThemGioHang/' + '@Model.SanPham.id_SP' + '?strURL=' + location.href + '&soLuong=' + 1)

                }
            });

           //---------------------------------------------------------------

            $('#quantity_product').change(function (e) {

                var quantity_product = $('#quantity_product').val();
                $('#URL_SoLuong').prop('href', '/GioHangs/ThemGioHang/' + '@Model.SanPham.id_SP' + '?strURL=' + location.href + '&soLuong=' + quantity_product)


                if (quantity_product <= 0 || quantity_product == '') {
                    console.log('adasdadasd')
                    $('#quantity_product').val(1);
                    $('#URL_SoLuong').prop('href', '/GioHangs/ThemGioHang/' + '@Model.SanPham.id_SP' + '?strURL=' + location.href + '&soLuong=' + 1)
                }

                if (quantity_product > @Model.SanPham.soLuong) {
                     if (@Model.SanPham.soLuong >=100) {
                        Swal.fire(
                            'Thông báo!',
                            'Chỉ được mua tối đa 100 sản phẩm cùng loại!',
                            'warning')

                        $('#quantity_product').val(100);
                        $('#URL_SoLuong').prop('href', '/GioHangs/ThemGioHang/' + '@Model.SanPham.id_SP' + '?strURL=' + location.href + '&soLuong=' + 100)
                    }
                     else {
                         Swal.fire(
                        'Thông báo!',
                        'Sản phẩm hiện chỉ còn: ' + '@Model.SanPham.soLuong',
                        'warning')

                        $('#quantity_product').val(@Model.SanPham.soLuong);
                        $('#URL_SoLuong').prop('href', '/GioHangs/ThemGioHang/' + '@Model.SanPham.id_SP' + '?strURL=' + location.href + '&soLuong=' + @Model.SanPham.soLuong)
                     }
                }
                else {
                    if (quantity_product > 100) {
                        Swal.fire(
                            'Thông báo!',
                            'Chỉ được mua tối đa 100 sản phẩm cùng loại!',
                            'warning')

                        $('#quantity_product').val(100);
                        $('#URL_SoLuong').prop('href', '/GioHangs/ThemGioHang/' + '@Model.SanPham.id_SP' + '?strURL=' + location.href + '&soLuong=' + 100)
                    }
                }
            });



        });
        </script>
    </div>

    <!-- Comment & đánh giá -->
    <div class="col-lg-12" style="background: rgb(71 198 92 / 13%); margin: 40px 0; ">
        <div class="row">
            <div class="col-lg-6" style="padding: 30px 20px;">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    if (HttpContext.Current.User.Identity.IsAuthenticated == true && @ViewBag.ttMuaHang == 1)
                    {
                        <div class="form-horizontal" style="margin-bottom: 10px;">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div style="margin-bottom: 10px;"> <strong style="font-size:20px">Bình Luận(@Model.SanPham.BinhLuan.Count())</strong></div>
                            <div>
                                <textarea name="txtContent" rows="3" style="resize:none;border:none;font-size:14px; width:100%; padding: 10px;" placeholder="Hãy để lại cảm nghĩ của bạn về sản phẩm này nhé!"></textarea>
                            </div>
                            <div style=" display:flex; flex-direction: row; justify-content: right;">
                                <input type="submit" value="Send" class="btn btn-warning pull-right" />
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="form-horizontal" style="margin-bottom: 10px;">
                            <div>
                                <p style="font-weight: bold; color: #cd9932; font-size: 18px">Hãy để lại bình luận sau khi nhận hàng nhé!</p>
                            </div>
                        </div>
                    }


                }
                <hr />
                @foreach (var item in Model.BinhLuan)
                {
                    if (item.trangThai == true)
                    {
                        <div class="card p-3" style="margin-bottom: 20px;">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="user d-flex flex-row align-items-center">
                                    <img src="https://i.imgur.com/hczKIze.jpg" width="30" class="user-img rounded-circle mr-2">
                                    <span>
                                        <small style="font-size: 16px;" class="font-weight-bold text-primary">@item.hoTen</small>
                                    </span>
                                </div> <small style="font-size: 14px;"> @Html.DisplayFor(ngaytao => item.ngayDangBinhLuan)</small>
                            </div>
                            <div class="action d-flex justify-content-between mt-2 align-items-center">
                                <div class="reply px-4" style="font-size: 16px;min-width:100vw;">@Html.DisplayFor(noidung => item.noiDung)</div>
                            </div>
                        </div>
                    }

                }
                <div class="col text-center">
                    <div class="block-27">
                        Trang @(Model.BinhLuan.PageCount < Model.BinhLuan.PageNumber ? 0 : Model.BinhLuan.PageNumber) / @Model.BinhLuan.PageCount
                        <div style="display:flex;justify-content:center">
                            @Html.PagedListPager(Model.BinhLuan, page => Url.Action("Details", new { page = page }))
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-6" style="padding: 30px 20px;">
                <div class="Te9Tpc">
                    <div>
                        @if (@Model.SanPham.DanhGia.Count() == 0)
                        {
                            <div class="jILTFe">0/5</div>
                        }
                        else
                        {
                            <div class="jILTFe">@ViewBag.updateStar/5</div>
                        }
                        <div role="img" class="I26one" style="display: inline-block;">
                            <span aria-hidden="true" jsname="fI6EEc" class="deXnLd" data-number="1" ssk="1#1">
                                <span class="Z1Dz7b" aria-hidden="true">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                        <path d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
                                    </svg>
                                </span>
                            </span>
                            <span aria-hidden="true" jsname="fI6EEc" class="deXnLd" data-number="2" ssk="1#2">
                                <span class="Z1Dz7b" aria-hidden="true">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                        <path d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
                                    </svg>
                                </span>
                            </span>
                            <span aria-hidden="true" jsname="fI6EEc" class="deXnLd" data-number="3" ssk="1#3">
                                <span class="Z1Dz7b" aria-hidden="true">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                        <path d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
                                    </svg>
                                </span>
                            </span>
                            <span aria-hidden="true" jsname="fI6EEc" class="deXnLd" data-number="4" ssk="1#4">
                                <span class="Z1Dz7b" aria-hidden="true">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                        <path d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
                                    </svg>
                                </span>
                            </span>
                            <span aria-hidden="true" jsname="fI6EEc" class="deXnLd" data-number="5" ssk="1#5">
                                <span class="" aria-hidden="true">
                                    <svg class="xdPrrd" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="url(#lAhE9)">
                                        <defs>
                                            <linearGradient id="lAhE9">
                                                <stop stop-opacity="1" offset="50%" class="Z1Dz7b"></stop>
                                                <stop stop-opacity="1" offset="50%" class="Wi7KIe"></stop>
                                            </linearGradient>
                                        </defs>
                                        <path d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
                                    </svg>
                                </span>
                            </span>
                        </div>
                        <div class="EHUI5b">@Model.SanPham.DanhGia.Count() &nbsp;đánh giá</div>
                    </div>
                    @if (@Model.SanPham.DanhGia.Count() == 0)
                    {
                        <div>
                            <div class="JzwBgb" role="img">
                                <div aria-hidden="true" class="Qjdn7d">5</div>
                                <div aria-hidden="true" class="RJfYGf">
                                    <div class="RutFAf wcB8se" style="width: 0"></div>
                                </div>
                            </div>
                            <div class="JzwBgb" role="img">
                                <div aria-hidden="true" class="Qjdn7d">4</div>
                                <div aria-hidden="true" class="RJfYGf">
                                    <div class="RutFAf wcB8se" style="width: 0"></div>
                                </div>
                            </div>
                            <div class="JzwBgb" role="img">
                                <div aria-hidden="true" class="Qjdn7d">3</div>
                                <div aria-hidden="true" class="RJfYGf">
                                    <div class="RutFAf wcB8se" style="width: 0"></div>
                                </div>
                            </div>
                            <div class="JzwBgb" role="img">
                                <div aria-hidden="true" class="Qjdn7d">2</div>
                                <div aria-hidden="true" class="RJfYGf">
                                    <div class="RutFAf wcB8se" style="width: 0"></div>
                                </div>
                            </div>
                            <div class="JzwBgb" role="img">
                                <div aria-hidden="true" class="Qjdn7d">1</div>
                                <div aria-hidden="true" class="RJfYGf">
                                    <div class="RutFAf wcB8se" style="width: 0"></div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div>
                            <div class="JzwBgb" role="img">
                                <div aria-hidden="true" class="Qjdn7d">5</div>
                                <div aria-hidden="true" class="RJfYGf">
                                    <div class="RutFAf wcB8se" style="width: @ViewBag.namSao"></div>
                                </div>
                            </div>
                            <div class="JzwBgb" role="img">
                                <div aria-hidden="true" class="Qjdn7d">4</div>
                                <div aria-hidden="true" class="RJfYGf">
                                    <div class="RutFAf wcB8se" style="width: @ViewBag.bonSao%"></div>
                                </div>
                            </div>
                            <div class="JzwBgb" role="img">
                                <div aria-hidden="true" class="Qjdn7d">3</div>
                                <div aria-hidden="true" class="RJfYGf">
                                    <div class="RutFAf wcB8se" style="width: @ViewBag.baSao%"></div>
                                </div>
                            </div>
                            <div class="JzwBgb" role="img">
                                <div aria-hidden="true" class="Qjdn7d">2</div>
                                <div aria-hidden="true" class="RJfYGf">
                                    <div class="RutFAf wcB8se" style="width: @ViewBag.haiSao%"></div>
                                </div>
                            </div>
                            <div class="JzwBgb" role="img">
                                <div aria-hidden="true" class="Qjdn7d">1</div>
                                <div aria-hidden="true" class="RJfYGf">
                                    <div class="RutFAf wcB8se" style="width: @ViewBag.motSao%"></div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <hr />

                @if (ViewBag.ttDanhGia == 0 && ViewBag.ttMuaHang == 1)
                {
                    <div>
                        <div><h5 style="font-weight:600;">Tạo đánh giá</h5></div>
                        <div class="stars">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                <input class="star star-5" id="star-5" type="radio" value="5" name="star" />
                                <label class="star star-5" for="star-5"></label>
                                <input class="star star-4" id="star-4" type="radio" value="4" name="star" />
                                <label class="star star-4" for="star-4"></label>
                                <input class="star star-3" id="star-3" type="radio" value="3" name="star" />
                                <label class="star star-3" for="star-3"></label>
                                <input class="star star-2" id="star-2" type="radio" value="2" name="star" />
                                <label class="star star-2" for="star-2"></label>
                                <input class="star star-1" id="star-1" type="radio" value="1" name="star" />
                                <label class="star star-1" for="star-1"></label>
                                <input type="submit" style="border-radius: 5px; border:none; padding: 5px; " value="Đánh giá" />
                            }
                        </div>
                    </div>
                }
                else if (ViewBag.ttDanhGia == 1)
                {
                    <div>
                        <h5 style="font-weight:600;text-align:center;">Bạn đã đánh giá sản phẩm này!</h5>
                    </div>
                }
            </div>
        </div>
    </div>

    <script>
        let slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides((slideIndex += n));
        }

        function currentSlide(n) {
            showSlides((slideIndex = n));
        }

        function showSlides(n) {
            let i;
            let slides = document.getElementsByClassName("mySlides_product");
            let dots = document.getElementsByClassName("miniImg");
            if (n > slides.length) {
                slideIndex = 1;
            }
            if (n < 1) {
                slideIndex = slides.length;
            }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
        }
    </script>
