@model WebsiteKinhDoanhCayCanh.Models.SanPham

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    .signup-form {
        background-color: #f3efea;
        padding: 10px 45px;
        border-radius: 5px;
        font-family: 'Raleway', sans-serif;
    }

    input.form-control {
        background: #95f0eb2b !important;
    }

    .col-md-10 {
        max-width: 100% !important;
    }
</style>

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.id_SP)
                <div style="padding: 4vh 17vw">
                    <div class="signup-form">
                        <h3 style="text-align: center; margin-top: 20px; font-weight: bold; color:forestgreen;">Chỉnh sửa sản phẩm </h3>
                        <h3 style="color:red; text-align:center; padding-top: 20px">@ViewBag.Thongbao</h3>
                        <hr />
                        <div class="form-group">
                            <strong class="control-label col-md-2">Tên sản phẩm</strong>

                            <div class="col-md-10">
                                @Html.EditorFor(model => model.tenSP, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.tenSP, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <strong class="control-label col-md-2">Mô tả</strong>

                            <div class="col-md-10">
                                @Html.EditorFor(model => model.mota, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.mota, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <strong class="control-label col-md-2">Giá</strong>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.gia, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.gia, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <strong class="control-label col-md-2">Số lượng</strong>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.soLuong, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.soLuong, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <strong class="control-label col-md-2">Đơn vị tính</strong>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.DVT, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.DVT, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <strong class="control-label col-md-2">Giảm giá</strong>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.phanTramGiamGia, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.phanTramGiamGia, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <strong class="control-label col-md-2">Cách trồng</strong>
                            <div class="col-md-10">
                                @*@Html.EditorFor(model => model.ThongTinThemVeSP.cachTrong, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ThongTinThemVeSP.cachTrong, "", new { @class = "text-danger" })*@
                                <input type="text" name="cachTrong" class="form-control" value="@Model.ThongTinThemVeSP.cachTrong">
                            </div>
                        </div>
                        <div class="form-group">
                            <strong class="control-label col-md-2">Công dụng</strong>
                            <div class="col-md-10">
                                @*@Html.EditorFor(model => model.ThongTinThemVeSP.congDung, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ThongTinThemVeSP.congDung, "", new { @class = "text-danger" })*@
                                <input type="text" name="congDung" class="form-control" value="@Model.ThongTinThemVeSP.congDung">
                            </div>
                        </div>
                        <div class="form-group">
                            <strong class="control-label col-md-2">Nhóm sản phẩm</strong>
                            <div class="col-md-10">
                                @Html.DropDownList("id_Nhom", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.id_Nhom, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <strong class="control-label col-md-2">Trạng thái</strong>
                            <div class="col-md-10">
                                <div class="checkbox">
                                    
                                    <div>
                                        <div>
                                            <input checked name="TrangThai" id="yes" value="true" type="radio" />&nbsp;<label for="yes">Hiện sản phẩm</label>
                                        </div>
                                        <div>
                                            <input  name="TrangThai" id="no" value="false" type="radio" />&nbsp;<label for="no">Ẩn sản phẩm</label>
                                        </div>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.trangThai, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                         <div class="form-group">
                            <strong class="control-label col-md-2">Hình</strong>
                            <div class="col-md-10">
                               @if (Model.HinhAnhSP.Where(p => p.id_SP == Model.id_SP).FirstOrDefault() != null)
                                {
                                    <td style="vertical-align:middle">
                                        <img src="@Model.HinhAnhSP.Where(p => p.id_SP == Model.id_SP).FirstOrDefault().duongDan" alt="thumbnail" width="150" />
                                        <br /><br />
                                        @Html.ActionLink("Tùy chỉnh", "Index", "HinhAnhSPs", new { @id_SP = Model.id_SP }, new { @class = "btn btn-warning" })

                                    </td>
                                }
                            </div>
                        </div>
                        <br />
                        <hr />
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Lưu" class="btn btn-info" /> |
                                <a class="btn btn-success" href='@Url.Action("IndexAdmin", "SanPhams")' style="margin: 30px 0;">
                                    Trở về
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @section upload
{
                <script>
                    $(function () {
                        $('#btnUpload').click(function () {
                            $('#fileUpload').trigger('click');
                        });
                    });
                    $('#fileUpload').change(function () {
                        if (window.FormData !== undefined) {
                            var fileUpload = $('#fileUpload').get(0);
                            var files = fileUpload.files;
                            var formData = new FormData();
                            formData.append('file', files[0]);

                            $.ajax(
                                {
                                    type: 'POST',
                                    url: '/SanPhams/ProcessUpload',
                                    contentType: false,
                                    processData: false,
                                    data: formData,
                                    success: function (urlImage) {

                                        $('#pictureUpload').attr('src', urlImage);
                                        $('#Hinh').val(urlImage);
                                    },
                                    error: function (err) {
                                        alert('Error ', err.statusText);
                                    }
                                });
                        }
                    });</script>
            }
        </div>
    </main>
</div>