
@using PagedList.Mvc;

@model WebsiteKinhDoanhCayCanh.Models.OtherModels.Product_Index

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    MyDataEF db = new MyDataEF();
    string allName = "";
}

<style>

    /*the container must be positioned relative:*/
    .autocomplete {
        position: relative;
        display: inline-block;
    }


    input[type=text] {
        background-color: #f1f1f1;
        width: 100%;
    }

    .autocomplete-items {
        position: absolute;
        border-bottom: none;
        border-top: none;
        z-index: 99;
        text-align: left;
        color: #1dbe50;
        font-weight:500;
        /*position the autocomplete items to be the same width as the container:*/
        top: 100%;
        left: 0;
        right: 0;
        padding: 0 20px;
    }

        .autocomplete-items div:last-child {
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
        }


        .autocomplete-items div {
            text-transform: capitalize;
            padding: 10px;
            cursor: pointer;
            background-color: #fff;
            border-bottom: 1px solid #d4d4d4;
            background: #fcfcfcde;
        }

            /*when hovering an item:*/
            .autocomplete-items div:hover {
                background-color: #e9e9e9;
            }

    /*when navigating through the items using the arrow keys:*/
    .autocomplete-active {
        background-color: DodgerBlue !important;
        color: #ffffff;
    }
</style>
<div class="goto-here">

    <div class="hero-wrap hero-bread" style="background-image: url('/Template/img/banner-img.jpg');opacity:0.9" ;>
        <div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-center justify-content-center">
                    <div class="col-md-9 ftco-animate text-center bg-text">
                        <h1 class="mb-0 bread" style="color:antiquewhite; font-family:'Amatic SC', cursive;">Sản Phẩm</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <hr />
    <section class="ftco-section" style="padding-top:0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 mb-5 text-center">
                    @using WebsiteKinhDoanhCayCanh.Models
                    @{
                        <ul class="product-category">
                            <li><a class="category-product" style="background:" href="/SanPhams">Tất cả</a></li>
                            @foreach (var item in db.NhomSP.ToList())
                            {
                                <li><a class="category-product" href="@Url.Action("Index", "SanPhams", new {item.id_Nhom})">@item.tenNhom</a></li>
                            }
                        </ul>
                        <br />
                        <form autocomplete="off" class="form-inline d-flex justify-content-center">
                            <input type="search" value="@ViewBag.idNhom" name="id_Nhom" hidden>
                            <div class="autocomplete" style="width:300px;">
                                <input id="myInput" class="form-control mr-sm-2" type="search" value="@ViewBag.Keyword" name="searchString" placeholder="Nhập tên sản phẩm cần tìm" aria-label="Search"
                                       style="width: 297px; height: 40px; font-size: 16px; border-radius: 25px; border-color: #30c051b5; ">
                            </div>
                            <input type="submit" class="btn btn-success my-2 my-sm-0" value="Tìm kiếm" style="margin-left: 10px; height: 40px; font-size: 16px;" width="50">
                        </form>
                    }
                    <script>
                        Array.from($('.category-product')).forEach(function (item) {
                            if (location.href.split('/')[3] == item.href.split('/')[3]) {
                                item.style = 'background: #28a745;color: #ecefe8 !important;border-radius:15px;'
                            }
                            else {
                                if (location.href.split('/')[3].includes(item.href.split('/')[3])) {
                                    if (item.href.split('/')[3] != 'SanPhams') {
                                        item.style = 'background: #28a745;color: #ecefe8 !important;border-radius:15px;'
                                    }
                                    if (location.href.split('?')[1].includes('id_Nhom=&searchString')) {
                                        item.style = 'background: #28a745;color: #ecefe8 !important;border-radius:15px;'
                                    }
                                }
                            }
                        })</script>
                </div>
            </div>
            <div class="row">

                @{
                    foreach (var item in Model.SanPhams)
                    {
                        <div class="col-md-6 col-lg-3 ftco-animate">
                            <div class="product">
                                <a href="@Url.Action("Details","SanPhams", new { id = item.id_SP })" class="img-prod">
                                    <img class="img-fluid" src="@item.HinhAnhSP.Where(p => p.id_SP == item.id_SP).FirstOrDefault().duongDan" alt="Colorlib Template">
                                    @if (@item.phanTramGiamGia > 0)
                                    {
                                        <span class="status">@item.phanTramGiamGia%</span>}
                                    <div class="overlay"></div>
                                </a>
                                <div class="text py-3 pb-4 px-3 text-center">
                                    <h3><a href="@Url.Action("Details","SanPhams", new { id = item.id_SP })">@item.tenSP</a></h3>
                                    @if (@item.phanTramGiamGia > 0)
                                    {
                                        <div class="d-flex">
                                            <div class="pricing">

                                                <p class="price"><span class="mr-2 price-dc">@String.Format("{0:0,0}", @item.gia)&#8363;</span><span class="price-sale">@String.Format("{0:0,0}", @item.gia - ((float)@item.phanTramGiamGia / 100) * @item.gia)&#8363; </span></p>
                                            </div>
                                        </div> }
                                    else
                                    {
                                        <div class="d-flex">
                                            <div class="pricing">
                                                <p class="price"><span>@String.Format("{0:0,0}", @item.gia)&#8363;</span></p>
                                            </div>
                                        </div>}
                                    <div class="bottom-area d-flex px-3">
                                        <div class="m-auto d-flex">
                                            <a onclick="AddToCart(this.id,1)" id="@item.id_SP" style="cursor:pointer" class="buy-now d-flex justify-content-center align-items-center mx-1">
                                                <span><i class="ion-ios-cart"></i></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="row mt-5">
                <div class="col text-center">
                    <div class="block-27">
                        <ul style="display: flex; justify-content: center;">
                            @Html.PagedListPager(Model.SanPhams, page => Url.Action("Index", new { page = page }))
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
@foreach (var item in db.SanPham.ToList())
{
    allName += item.tenSP + "$";

}
<div hidden id="allProductName">@allName</div>
<script>
    function AddToCart(id_SP, soLuong) {

        if (window.FormData !== undefined) {

            var formData = new FormData();
            formData.append('id', id_SP);
            formData.append('soLuong', soLuong);

            $.ajax(
                {
                    type: 'POST',
                    url: '/GioHangs/AddToCart',
                    contentType: false,
                    processData: false,
                    data: formData,
                    success: function (message) {
                        if (message != "existed") {
                            document.getElementById('cart').innerHTML = message;
                            Swal.fire(
                                "Thông báo!",
                                "Thêm vào giỏ hàng thành công!",
                                "success"
                            )
                        } else {
                            Swal.fire(
                                "Thông báo!",
                                "Sản phẩm này đã có trong giỏ hàng!",
                                "warning"
                            )
                        }
                    },
                    error: function (err) {
                        Swal.fire(
                            "Thông báo!",
                            "Có lỗi xảy ra, vui lòng thử lại!",
                            "error"
                        )
                    }
                });
        }
    }
</script>
<script>
    function autocomplete(inp, arr) {
        /*the autocomplete function takes two arguments,
        the text field element and an array of possible autocompleted values:*/
        var currentFocus;
        /*execute a function when someone writes in the text field:*/
        inp.addEventListener("input", function (e) {
            var a, b, i, val = this.value;
            /*close any already open lists of autocompleted values*/
            closeAllLists();
            if (!val) { return false; }
            currentFocus = -1;
            /*create a DIV element that will contain the items (values):*/
            a = document.createElement("DIV");
            a.setAttribute("id", this.id + "autocomplete-list");
            a.setAttribute("class", "autocomplete-items");
            /*append the DIV element as a child of the autocomplete container:*/
            this.parentNode.appendChild(a);
            /*for each item in the array...*/
            for (i = 0; i < 10; i++) {
                /*check if the item starts with the same letters as the text field value:*/
                if (arr[i].toUpperCase().includes(val.toUpperCase())) {
                    /*create a DIV element for each matching element:*/
                    b = document.createElement("DIV");
                    /*make the matching letters bold:*/
                    b.innerHTML = arr[i];
                    /*insert a input field that will hold the current array item's value:*/
                    b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                    /*execute a function when someone clicks on the item value (DIV element):*/
                    b.addEventListener("click", function (e) {
                        /*insert the value for the autocomplete text field:*/
                        inp.value = this.getElementsByTagName("input")[0].value;
                        /*close the list of autocompleted values,
                        (or any other open lists of autocompleted values:*/
                        closeAllLists();
                    });
                    a.appendChild(b);
                }
            }
        });
        /*execute a function presses a key on the keyboard:*/
        inp.addEventListener("keydown", function (e) {
            var x = document.getElementById(this.id + "autocomplete-list");
            if (x) x = x.getElementsByTagName("div");
            if (e.keyCode == 40) {
                /*If the arrow DOWN key is pressed,
                increase the currentFocus variable:*/
                currentFocus++;
                /*and and make the current item more visible:*/
                addActive(x);
            } else if (e.keyCode == 38) { //up
                /*If the arrow UP key is pressed,
                decrease the currentFocus variable:*/
                currentFocus--;
                /*and and make the current item more visible:*/
                addActive(x);
            } else if (e.keyCode == 13) {
                /*If the ENTER key is pressed, prevent the form from being submitted,*/
                e.preventDefault();
                if (currentFocus > -1) {
                    /*and simulate a click on the "active" item:*/
                    if (x) x[currentFocus].click();
                }
            }
        });
        function addActive(x) {
            /*a function to classify an item as "active":*/
            if (!x) return false;
            /*start by removing the "active" class on all items:*/
            removeActive(x);
            if (currentFocus >= x.length) currentFocus = 0;
            if (currentFocus < 0) currentFocus = (x.length - 1);
            /*add class "autocomplete-active":*/
            x[currentFocus].classList.add("autocomplete-active");
        }
        function removeActive(x) {
            /*a function to remove the "active" class from all autocomplete items:*/
            for (var i = 0; i < x.length; i++) {
                x[i].classList.remove("autocomplete-active");
            }
        }
        function closeAllLists(elmnt) {
            /*close all autocomplete lists in the document,
            except the one passed as an argument:*/
            var x = document.getElementsByClassName("autocomplete-items");
            for (var i = 0; i < x.length; i++) {
                if (elmnt != x[i] && elmnt != inp) {
                    x[i].parentNode.removeChild(x[i]);
                }
            }
        }
        /*execute a function when someone clicks in the document:*/
        document.addEventListener("click", function (e) {
            closeAllLists(e.target);
        });
    }

    /*An array containing all the country names in the world:*/
    //var countries = ["Afghanistan", "Albania", "Algeria", "Andorra", "Angola", "Anguilla", "Antigua & Barbuda", "Argentina", "Armenia", "Aruba", "Australia", "Austria", "Azerbaijan", "Bahamas", "Bahrain", "Bangladesh", "Barbados", "Belarus", "Belgium", "Belize", "Benin", "Bermuda", "Bhutan", "Bolivia", "Bosnia & Herzegovina", "Botswana", "Brazil", "British Virgin Islands", "Brunei", "Bulgaria", "Burkina Faso", "Burundi", "Cambodia", "Cameroon", "Canada", "Cape Verde", "Cayman Islands", "Central Arfrican Republic", "Chad", "Chile", "China", "Colombia", "Congo", "Cook Islands", "Costa Rica", "Cote D Ivoire", "Croatia", "Cuba", "Curacao", "Cyprus", "Czech Republic", "Denmark", "Djibouti", "Dominica", "Dominican Republic", "Ecuador", "Egypt", "El Salvador", "Equatorial Guinea", "Eritrea", "Estonia", "Ethiopia", "Falkland Islands", "Faroe Islands", "Fiji", "Finland", "France", "French Polynesia", "French West Indies", "Gabon", "Gambia", "Georgia", "Germany", "Ghana", "Gibraltar", "Greece", "Greenland", "Grenada", "Guam", "Guatemala", "Guernsey", "Guinea", "Guinea Bissau", "Guyana", "Haiti", "Honduras", "Hong Kong", "Hungary", "Iceland", "India", "Indonesia", "Iran", "Iraq", "Ireland", "Isle of Man", "Israel", "Italy", "Jamaica", "Japan", "Jersey", "Jordan", "Kazakhstan", "Kenya", "Kiribati", "Kosovo", "Kuwait", "Kyrgyzstan", "Laos", "Latvia", "Lebanon", "Lesotho", "Liberia", "Libya", "Liechtenstein", "Lithuania", "Luxembourg", "Macau", "Macedonia", "Madagascar", "Malawi", "Malaysia", "Maldives", "Mali", "Malta", "Marshall Islands", "Mauritania", "Mauritius", "Mexico", "Micronesia", "Moldova", "Monaco", "Mongolia", "Montenegro", "Montserrat", "Morocco", "Mozambique", "Myanmar", "Namibia", "Nauro", "Nepal", "Netherlands", "Netherlands Antilles", "New Caledonia", "New Zealand", "Nicaragua", "Niger", "Nigeria", "North Korea", "Norway", "Oman", "Pakistan", "Palau", "Palestine", "Panama", "Papua New Guinea", "Paraguay", "Peru", "Philippines", "Poland", "Portugal", "Puerto Rico", "Qatar", "Reunion", "Romania", "Russia", "Rwanda", "Saint Pierre & Miquelon", "Samoa", "San Marino", "Sao Tome and Principe", "Saudi Arabia", "Senegal", "Serbia", "Seychelles", "Sierra Leone", "Singapore", "Slovakia", "Slovenia", "Solomon Islands", "Somalia", "South Africa", "South Korea", "South Sudan", "Spain", "Sri Lanka", "St Kitts & Nevis", "St Lucia", "St Vincent", "Sudan", "Suriname", "Swaziland", "Sweden", "Switzerland", "Syria", "Taiwan", "Tajikistan", "Tanzania", "Thailand", "Timor L'Este", "Togo", "Tonga", "Trinidad & Tobago", "Tunisia", "Turkey", "Turkmenistan", "Turks & Caicos", "Tuvalu", "Uganda", "Ukraine", "United Arab Emirates", "United Kingdom", "United States of America", "Uruguay", "Uzbekistan", "Vanuatu", "Vatican City", "Venezuela", "Vietnam", "Virgin Islands (US)", "Yemen", "Zambia", "Zimbabwe"];
    var productNames = [];
    var name = document.getElementById('allProductName').innerText;
    var arr = name.split('$')
    for (var i = 0; i < arr.length - 1; i++) {
        productNames.push(arr[i]);
    }

    /*initiate the autocomplete function on the "myInput" element, and pass along the countries array as possible autocomplete values:*/
    autocomplete(document.getElementById("myInput"), productNames);
</script>
