@model IEnumerable<WebsiteKinhDoanhCayCanh.Models.SanPham>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NhomSP.tenNhom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThongTinThemVeSP.congDung)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tenSP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mota)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.soLuong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DVT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phanTramGiamGia)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NhomSP.tenNhom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThongTinThemVeSP.congDung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tenSP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.soLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DVT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phanTramGiamGia)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id_SP }) |
                @Html.ActionLink("Details", "Details", new { id = item.id_SP }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id_SP })
            </td>
        </tr>
    }

</table>
