﻿@model PagedList.PagedList<WebsiteKinhDoanhCayCanh.Models.LinQ.DonHang>
@using PagedList.Mvc;
@{
    ViewBag.Title = "DoanhThu";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div id="layoutSidenav_content">
    <main>
        <h2 style="margin: 10px; text-align: center; margin-top: 20px; font-weight: bold; color: forestgreen;text-transform:capitalize">Doanh thu theo ngày</h2>
        <div class="container-fluid px-4">
            @using (Html.BeginForm("Export", "DonHangs", FormMethod.Post))
                {
                    <input type="submit" value="Xuất Excel" class="btn btn-success">
                }
            <br />
            <table class="table table-bordered table-success text-center">              

                <thead >
                    <tr>
                        <th>
                            Ngày/Tháng/Năm
                        </th>
                        <th>
                            Doanh thu
                        </th>
                    </tr>
                </thead>
                <tbody class="table-light">
                    @foreach (var item in Model.GroupBy(y => y.ngayDat).Distinct().Select(g => new
                    {
                        Pla = g.Key,
                        Total = g.Sum(t => t.tongTien)
                    }))
                    {
                        <tr>
                            <td>
                                @String.Format("{0:dd/MM/yyyy}", item.Pla)
                            </td>
                            <td>
                                @String.Format("{0:0,0}", item.Total)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div style=" margin-bottom:50px;">
                <div class="MenuTrang" style="display: flex; flex-direction: row; justify-content: center;">
                    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
                </div>
                <div class="MenuTrang" style="display: flex; flex-direction: row; justify-content: center;">
                    @Html.PagedListPager(Model, page => Url.Action("DoanhThu", new { page = page }))
                </div>
            </div>
        </div>
    </main>
</div>

