@model WebsiteKinhDoanhCayCanh.Models.OtherModels.DonHangViewList
@using PagedList.Mvc;
@using WebsiteKinhDoanhCayCanh.Models.LinQ;
@using WebsiteKinhDoanhCayCanh.Models;
@{
    ViewBag.Title = "XemDonMua";
    Layout = "~/Views/Shared/_Layout.cshtml";
    User kh = (User)Session["TaiKhoan"];
    MyDataEF db = new MyDataEF();

}
<style>
    body {
        background-color: rgb(0 0 0 / 0.07);
    }

    .content {
        padding-bottom: 30px 0;
    }

    .bar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 50px;
    }


    .menu {
        border: none;
        background: white;
    }

    .navbar {
        background-color: white;
    }

        .navbar .menu.active {
            color: forestgreen;
        }

    .searchForm {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 15px 0;
    }

    .search-form {
        padding: 15px;
        width: 70%;
        border: none;
        background-color: rgb(128 128 128 / 0.27);
    }

    .header-order {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .listDonHang .listDonHangs {
        display: none;
    }

        .listDonHang .listDonHangs.active {
            display: block;
        }

    .list-order {
        display: flex;
        flex-direction: row;
        justify-content: center;
        min-height: 200px;
        margin-bottom: 15px;
    }

    .table-order {
        background-color: white;
        width: 70%;
        padding: 15px;
    }


    .footer-order {
        display: flex;
        flex-direction: row;
        justify-content: right;
    }

    span:hover {
        cursor: pointer;
    }

    tr th {
        text-align: center;
        vertical-align: middle;
        width: 20%;
    }

    tr td {
        text-align: center;
        vertical-align: middle;
    }
</style>

<div style="font-family: 'Sans-serif'">
    <div class="hero-wrap hero-bread" style="background-image: url('/Template/img/banner-img.jpg');opacity:0.9" ;>
        <div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-center justify-content-center">
                    <div class="col-md-9 ftco-animate text-center bg-text">
                        <h1 class="mb-0 bread" style="color: antiquewhite; font-family: 'cursive', 'Amatic SC','Liberation Mono'; ">LỊCH SỬ MUA HÀNG</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<hr />
@*<h2 style="text-align:center; color: forestgreen" ;>Lịch sử mua hàng.</h2>*@
<div class="content">
    <div class="bar">
        <div class="navbar" style="width: 70%; height: 60px;">
            <span class="menu active">Tất cả(@ViewBag.numberDonHang)</span>

            <span class="menu">Đã giao(@ViewBag.numberDonHangDaGiao)</span>

            <span class="menu">Đang giao(@ViewBag.numberDonHangDangGiao)</span>

            <span class="menu">Đã hủy(@ViewBag.numberDonHangDaHuy)</span>
        </div>
    </div>

    @*<div class="searchForm">
            <input class="search-form" type="search" placeholder="Tìm kiếm theo tên sản phẩm" />
        </div>*@
    <div class="listDonHang">
        <div class="listDonHangs active">
            @foreach (var item in Model.listDonHang)
            {
                <div class="list-order">

                    <div class="table-order">
                        <div class="header-order">
                            <p style="color: black; padding-left: 10px;">Mã đơn hàng: @item.id_DH</p>
                            @if (item.trangThaiGiaoHang.ToString() == "1")
                            {
                                <h5 style="border-left: solid 1px; padding-left: 15px;font-weight:bold;color:#449744 ; ">Đã giao</h5>
                            }
                            else if (item.trangThaiGiaoHang.ToString() == "2")
                            {
                                <h5 style="border-left: solid 1px; padding-left: 15px;font-weight:bold;color:red ">Đơn bị hủy</h5>
                            }
                            else
                            {
                                <h5 style="border-left: solid 1px; padding-left: 15px;font-weight:bold;color:orange; ">Đang giao</h5>
                            }
                        </div>
                        <hr />
                        <table style="width: 100%;">
                            <thead>
                                <tr>
                                    <th>Hình Ảnh</th>

                                    <th style="width: 40%;">Sản Phẩm</th>

                                    <th>Số Lượng</th>

                                    <th>Đơn Giá</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var i in Model.chiTietDonHangs)
                                {
                                    if (i.id_DH == item.id_DH)
                                    {
                                        <tr style="border-top: solid 0.5px; border-color:rgb(128 128 128 / 0.27); ">
                                            <td class="a"><img src="@db.HinhAnhSP.Where(p=>p.id_SP==i.id_SP).FirstOrDefault().duongDan" alt="Alternate Text" width="50" /></td>
                                           
                                            <td>@i.SanPham.tenSP</td>
                                          
                                            <td>@i.soLuong</td>

                                            <td>@String.Format("{0:0,0}", i.SanPham.gia) VNĐ</td>
                                        </tr>
                                    }
                                }

                            </tbody>

                        </table>
                        <hr />
                        <div class="footer-order">
                            @if (item.trangThaiGiaoHang.ToString() == "2")
                            {
                                <input type="button" style="border: none; background: #dbcc8f;" value="Mua lại" />
                            }
                            &emsp;
                            <a href="@Url.Action("Contact","Home")" style="border: none;">Liên hệ cửa hàng</a>
                        </div>
                    </div>
                </div>

            }
            @if (ViewBag.numberDonHang == 0)
            {
                <div class="list-order">
                    <div class="table-order" style="display: flex; justify-content: center; align-items: center;">
                        <p>
                            Hiện tại bạn không có đơn hàng nào
                        </p>
                    </div>
                </div>
            }
        </div>
        <div class="listDonHangs">
            @foreach (var item in Model.listDonHangDaGiao)
            {
                <div class="list-order">

                    <div class="table-order">
                        <div class="header-order">
                            <p style="color: black; padding-left: 10px;">Mã đơn hàng: @item.id_DH</p>
                            <h5 style="border-left: solid 1px; padding-left: 15px;font-weight:bold;color:#449744; ">Đã giao</h5>
                        </div>
                        <hr />
                        <table style="width: 100%;">
                            <thead>
                                <tr>
                                    <th>Hình Ảnh</th>

                                    <th style="width: 40%;">Sản Phẩm</th>

                                    <th>Số Lượng mua</th>

                                    <th>Đơn Giá</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var i in Model.chiTietDonHangs)
                                {
                                    if (i.id_DH == item.id_DH)
                                    {
                                <tr style="border-top: solid 0.5px; border-color:rgb(128 128 128 / 0.27); ">
                                    <td class="a"><img src="@db.HinhAnhSP.Where(p=>p.id_SP==i.id_SP).FirstOrDefault().duongDan" alt="Alternate Text" width="50" /></td>

                                    <td>@i.SanPham.tenSP</td>

                                    <td>@i.soLuong</td>

                                    <td>@String.Format("{0:0,0}", i.SanPham.gia) VNĐ</td>
                                </tr>
                                    }
                                }

                            </tbody>

                        </table>
                        <hr />
                        <div class="footer-order">
                            <a href="@Url.Action("Contact","Home")" style="border: none;">Liên hệ cửa hàng</a>
                        </div>
                    </div>
                </div>
            }
            @if (ViewBag.numberDonHangDaGiao == 0)
            {
                <div class="list-order">
                    <div class="table-order" style="display: flex; justify-content: center; align-items: center;">
                        <p>
                            Hiện tại bạn không có đơn hàng nào đã giao!
                        </p>
                    </div>
                </div>
            }
        </div>
        <div class="listDonHangs">
            @foreach (var item in Model.listDonHangDangGiao)
            {
                <div class="list-order">

                    <div class="table-order">
                        <div class="header-order">
                            <p style="color: black; padding-left: 10px;">Mã đơn hàng: @item.id_DH</p>
                            <h5 style="border-left: solid 1px; padding-left: 15px;font-weight:bold;color:orange; ">Đang giao</h5>
                        </div>
                        <hr />
                        <table style="width: 100%;">
                            <thead>
                                <tr>
                                    <th>Hình Ảnh</th>

                                    <th style="width: 40%;">Sản Phẩm</th>

                                    <th >Số Lượng</th>

                                    <th >Đơn Giá</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var i in Model.chiTietDonHangs)
                                {
                                    if (i.id_DH == item.id_DH)
                                    {
                                        <tr style="border-top: solid 0.5px; border-color:rgb(128 128 128 / 0.27); ">
                                            <td class="a"><img src="@db.HinhAnhSP.Where(p=>p.id_SP==i.id_SP).FirstOrDefault().duongDan" alt="Alternate Text" width="50" /></td>
                                            
                                            <td>@i.SanPham.tenSP</td>
                                           
                                            <td>@i.soLuong</td>

                                            <td>@String.Format("{0:0,0}", i.SanPham.gia) VNĐ</td>
                                        </tr>
                                    }
                                }

                            </tbody>

                        </table>
                        <hr />
                        <div class="footer-order">
                            <a href="@Url.Action("Contact","Home")" style="border: none;">Liên hệ cửa hàng</a>
                        </div>
                    </div>
                </div>
            }
            @if (ViewBag.numberDonHangDangGiao == 0)
            {
                <div class="list-order">
                    <div class="table-order" style="display: flex; justify-content: center; align-items: center;">
                        <p>
                            Hiện tại bạn không có đơn hàng nào đang giao!
                        </p>
                    </div>
                </div>
            }
        </div>
        <div class="listDonHangs">
            @foreach (var item in Model.listDonHangDaHuy)
            {
                <div class="list-order">

                    <div class="table-order">
                        <div class="header-order">
                            <p style="color: black; padding-left: 10px;">Mã đơn hàng: @item.id_DH</p>
                            <h5 style="border-left: solid 1px; padding-left: 15px;font-weight:bold;color:red ">Đơn bị hủy</h5>
                        </div>
                        <hr />
                        <table style="width: 100%;">
                            <thead>
                                <tr>
                                    <th>Hình Ảnh</th>

                                    <th style="width: 40%;">Sản Phẩm</th>

                                    <th >Số Lượng mua</th>

                                    <th >Đơn Giá</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var i in Model.chiTietDonHangs)
                                {
                                    if (i.id_DH == item.id_DH)
                                    {
                                        <tr style="border-top: solid 0.5px; border-color:rgb(128 128 128 / 0.27); ">
                                            <td class="a"><img src="@db.HinhAnhSP.Where(p=>p.id_SP==i.id_SP).FirstOrDefault().duongDan" alt="Alternate Text" width="50" /></td>
                                        
                                            <td>@i.SanPham.tenSP</td>
                                            
                                            <td>@i.soLuong</td>

                                            <td>@String.Format("{0:0,0}", i.SanPham.gia) VNĐ</td>
                                        </tr>
                                    }
                                }

                            </tbody>

                        </table>
                        <hr />
                        <div class="footer-order">
                            <a href="@Url.Action("Details","SanPhams")" style="border: none;">Mua lại</a>
                            &emsp;
                            <a href="@Url.Action("Contact","Home")" style="border: none;">Liên hệ cửa hàng</a>
                        </div>
                    </div>
                </div>
            }
            @if (ViewBag.numberDonHangDaHuy == 0)
            {
                <div class="list-order">
                    <div class="table-order" style="display: flex; justify-content: center; align-items: center;">
                        <p>
                            Hiện tại bạn không có đơn hàng hủy nào!
                        </p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script>
    const listDonHangs = document.querySelectorAll('.listDonHangs');
    const menus = document.querySelectorAll('.menu');


    function SetActive(i) {
        for (listDonHang of listDonHangs)
            listDonHang.classList.remove('active');
        listDonHangs[i].classList.add('active');

        for (menu of menus)
            menu.classList.remove('active');
        menus[i].classList.add('active');
    }

    for (let j = 0; j < menus.length; j++) {
        menus[j].addEventListener('click', function () {
            SetActive(j)
        })
    }
</script>
