
@model WebsiteKinhDoanhCayCanh.Models.NhomSP
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4" style=" margin-top:20px;">

            <h2>Thông tin chi tiết</h2>

            <div>
                <h4>Nhóm sản phẩm</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        Mã nhóm
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.id_Nhom)
                    </dd>

                </dl>
                <dl class="dl-horizontal">
                    <dt>
                        Tên nhóm sản phẩm
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.tenNhom)
                    </dd>

                </dl>
                <dl class="dl-horizontal">
                    <dt>
                        Mã nhóm cách chăm sóc
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.id_CCS)
                    </dd>

                </dl>
            </div>
            <p>
                @Html.ActionLink("Sửa", "Edit", new { id = Model.id_Nhom }, new { @class = "btn btn-warning" }) |
                <a class="btn btn-info" href='@Url.Action("Index", "NhomSP")' style="margin:10px 0px;">
                    Trở về
                </a>
            </p>
        </div>
    </main>
</div>
