@*@model PagedList.PagedList<WebsiteKinhDoanhCayCanh.Models.NhomSP>*@
@model IEnumerable<WebsiteKinhDoanhCayCanh.Models.NhomSP>
@using PagedList.Mvc;
@{ ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml"; }


@Html.Partial("_MessageAlert")
<style>
    .thead_table, .tbody_table {
        vertical-align: middle !important;
        text-align: center !important;
    }
</style>
<script src="~/Content/assets/js/bootstrap.min.js"></script>
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <div>
                <div>
                    <h2 style="text-align: center; margin-top: 20px; font-weight: bold; color: forestgreen; text-transform: capitalize;">Danh sách nhóm sản phẩm</h2>
                </div>
                
                <br />
            </div>
            <a class="btn btn-success" href="@Url.Action("Create", "NhomSP")" style="margin:10px 0px;">
                Thêm nhóm sản phẩm
            </a>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Bảng thông tin nhóm sản phẩm
                </div>
                <br />
                <table id="datatablesSimple" class="table table-bordered table-success ">
                    <thead class="thead-dark">
                        <tr>
                            <th class="text-center align-middle">STT</th>
                            <th>
                                Mã nhóm sản phẩm
                            </th>
                            <th>
                                Tên nhóm sản phẩm
                            </th>
                            <th class="text-center">Thao tác</th>
                        </tr>
                    </thead>
                    <tbody class="table-light">
                        @{ int i = 0;
                            foreach (var item in Model)
                            {
                                i++;
                <tr>
                    <td class="text-center align-middle"><strong>@i</strong></td>
                    <td class="col-lg-2 text-center align-middle">
                        @Html.DisplayFor(modelItem => item.id_Nhom)
                    </td>
                    <td class="col-lg-6 align-middle">
                        @Html.DisplayFor(modelItem => item.tenNhom)
                    </td>
                    <td class="col-lg-4 text-center align-middle">
                        @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.id_Nhom }, new { @class = "btn btn-warning", @style = "margin:5px" })
                        @*@Html.ActionLink("Chi tiết", "Details", new { id = item.id_Nhom }, new { @class = "btn btn-info", @style = "margin:5px" })*@
                        <a class="btn btn-info" style="cursor:pointer;" data-toggle="modal" data-target="#myModal_@item.id_Nhom"> Chi tiết </a>
                        @Html.ActionLink("Xóa", "Delete", new { id = item.id_Nhom }, new { @class = "btn btn-danger", @style = "margin:5px" })
                    </td>
                </tr> <!-- Modal -->
                        <div class="modal fade" id="myModal_@item.id_Nhom" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header justify-content-center">
                                        <h4 class="modal-title text-center"> <strong style="color: #00be00; font-size: 30px; "> Chi tiết</strong></h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>Mã nhóm:<strong> @item.id_Nhom</strong></p>
                                        @*<p>@item.id_Nhom</p>*@
                                        
                                        <p>Tên nhóm: <strong>@item.tenNhom </strong></p>
                                        @*<p style="word-break:break-all">@item.phanTramGiamGia</p>*@
                                        
                                        <p>Mã cách chăm sóc: <strong>@item.id_CCS</strong></p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-success" data-dismiss="modal">
                                            Đóng
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
 }}
                    </tbody>

                </table>
            </div>            
        </div>
    </main>
</div>


